# Python cache
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.venv/
venv/
ENV/
env/
*.env

# pyvenv configuration
pyvenv.cfg

# MacOS specific files
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm project files
.idea/

# Visual Studio Code
.vscode/

# Other configuration files
*.ini
*.log
*.bak
*.swp
